<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ติดต่อเรา</title>
</head>
<body>
    <h1> ติดต่อเราได้ที่ </h1>
    <p1> Line ID: m.w.rnk <br/>
         Phone : 098-930-3725 <br/>
         Facebook : Ronnakrit Suparbpong <br/>
         Instagram : BOMBA_RS <br/>   

    </p1>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.1539425047936!2d100.51452829999998!3d13.769588499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29944b9160d23%3A0xc4710800dc05baa6!2z4LmC4Lij4LiH4LmA4Lij4Li14Lii4LiZ4LiI4Li04LiV4Lij4Lil4LiU4Liy4Lin4Li04LiK4Liy4LiK4Li14LieIOC4quC4luC4suC4muC4seC4meC5gOC4l-C4hOC5guC4meC5guC4peC4ouC4teC4iOC4tOC4leC4o-C4peC4lOC4sg!5e0!3m2!1sth!2sth!4v1726031842166!5m2!1sth!2sth" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>